.home_body{
  color: black;
  font-size: 16px;
  display: grid;
  padding: 7px;
  
}
.home_content{
  display: flex;
  margin-bottom: 100px;
}
.explore_{
  margin-top:50px;
}
.social_{
  margin-top: 50px;
}


