.bg_img{
  width: 100%;
  height: 400px;
  image-rendering: optimizeSpeed;
}
.img-hover-zoom {
  height: 400px; 
  overflow: hidden; 
}


.img-hover-zoom img {
  transition: transform .5s ease;
}


.img-hover-zoom:hover img {
  transform: scale(1.2);
}